* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: bottom;
}

.container {
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: rgb(193, 196, 196);
    width: 1200px;
    height: 1200px;
    border: 1px solid;
}

.box_card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #888;
    width: 98%;
    height: 48%;
    border: 1px solid;
}

.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 32%;
    height: 550px;
    border: 1px solid;
}

.photo {
    position: relative;
    background-size: contain;
    width: 100%;
    height: 80%;
}

.description {
    background-color: rgba(0, 0, 0, 0.926);
    width: 100%;
    height: 19%;
}

.heart {
    position: absolute;
    background-image: url(../img/heart.png);
    background-color: rgba(255, 255, 255, 0);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    width: 10%;
    height: 8%;
    right: 0;
    top: 3%;
}

.price_red {
    position: absolute;
    background-color: rgba(189, 39, 25, 0.786);
    width: 60px;
    height: 25px;
    border: 1px solid;
    bottom: 20px;
}

.price {
    position: relative;
    background-color: rgba(255, 255, 255, 0.702);
    width: 60px;
    height: 25px;
    left: 100%;
    font-size: 20px;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-size: larger;
}

#card1 {
    background-image: url(../img/horizon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#card2 {
    background-image: url(../img/hollow.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#card3 {
    background-image: url(../img/uncharted\ 4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#card4 {
    background-image: url(../img/valheim.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#card5 {
    background-image: url(../img/tarkov\ art.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#card6 {
    background-image: url(../img/zelda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#card1:hover {
    background-image: url(../img/horizon\ art.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#card2:hover {
    background-image: url(../img/hollow\ art.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#card3:hover {
    background-image: url(../img/uncharted\ 4\ art.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#card4:hover {
    background-image: url(../img/valheim\ art.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#card5:hover {
    background-image: url(../img/tarkov\ art.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#card6:hover {
    background-image: url(../img/zelda\ art.png);
    background-repeat: no-repeat;
    background-size: cover;
}