* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: bottom;
    padding: 40px;
}

#products_section {
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: rgb(193, 196, 196);
    width: 1200px;
    height: 1200px;
}

.box_card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #888;
    width: 98%;
    height: 48%;
}

.box_card .card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 32%;
    height: 550px;
}

.card_img_wrapper {
    position: relative;
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.card_img_wrapper:hover .card_img_main {
    visibility: hidden;
}

.card_img_main {
    position: absolute;
}

.heart {
    position: absolute;
    border-radius: 10%;
    text-align: center;
    line-height: 8%;
    font-size: 40px;
    width: 10%;
    height: 8%;
    right: 0;
    top: 3%;
}

.description {
    color: rgb(255, 255, 255);
    font-size: larger;
    background-color: rgba(130, 154, 197, 0.926);
    width: 100%;
    height: 19%;
    text-align: center;
}

/*@ Debug */

.debug #products_section {
    border: 1px solid;
}

.debug .box_card {
    border: 1px solid;
}

.debug .box_card .card {
    border: 1px solid;
}

.debug #products_section {
    border: 1px solid;
}